---
import { Sections } from "../Navigation.astro";
---

<div class="intro-wrapper" id={Sections.KONTAKT}>
  <div>
    <p>
      S pripadnymi dotazy nas nejsnaze kontaktujete na <a
        href="https://m.me/adela.castoralova"
        target="_blank">Facebook Messengeru</a
      > nebo <a href="mailto:cibulkovi2023@gmail.com" target="_blank">emailu</a
      >.
    </p>
  </div>

  <style>
    .intro-wrapper {
      display: flex;

      flex-direction: column;
      font-size: 1.2em;
      line-height: 1.5em;
      padding-left: 8%;
      padding-right: 8%;
    }
  </style>
</div>
