---
import { Sections } from "../Navigation.astro";
---

<div class="intro-wrapper" id={Sections.BARVY}>
  <h1>Svatební Dary</h1>
  <p>
    Se svatebními dary si nelámte hlavu, nejdůležitější pro nás je, že dorazíte
    a strávíte s námi náš den. Pokud nás přece jen budete chtít nějak obdarovat,
    budeme rádi za příspěvek do začátku naší společné budoucnosti.
  </p>

  <p>Číslo účtu: 2935803019/3030</p>
</div>

<style>
  .intro-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 8%;
    padding-right: 8%;
    scroll-margin-top: 50px;
  }
</style>
