---
import { Sections } from "../Navigation.astro";
---

<div class="intro-wrapper" id={Sections.HOME}>
  <p>
    Vítejte na stránce naší nezapomenutelné svatební události! Jsme plní
    radosti, že s vámi můžeme sdílet tento zvláštní okamžik v našem životě.
    Prožijte s námi tento magický den, který bude plný lásky, štěstí a
    nezapomenutelných okamžiků.
  </p>

  <p>
    Naše spolecna cesta zivotemzačíná 7.9.2024 v Peckove Mlyne, kde se
    slavnostní obřady uskuteční v 13:00. Na této stránce najdete veškeré
    potřebné informace, abyste mohli plánovat svůj den s námi. Pro vaše pohodlí
    jsme připravili mapu, která vám pomůže najít cestu k místu konání. Můžete si
    zde také prohlédnout program události a podrobnosti ohledně toho, co vás
    čeká během našeho velkého dne.
  </p>

  <p>
    Pokud hledáte ubytování, rádi vám poskytneme několik tipů na místa, kde si
    můžete zajistit přespání. Města v okolí nabízejí různé možnosti ubytování,
    které vám umožní relaxovat a užít si slavnostní atmosféru až do pozdních
    hodin.
  </p>
  <p>
    Nemůžeme se dočkat, až se s vámi podělíme o tento důležitý moment a
    vytvoříme společně nezapomenutelné vzpomínky. Prosím, vyplňte náš dotazník,
    abychom věděli, že na nás přijdete a mohli jsme lépe plánovat tento den plný
    lásky a radosti.
  </p>
  <p>
    Děkujeme vám za vaši podporu a těšíme se na setkání s vámi na naší svatební
    oslavě!
  </p>
  <h4>S láskou, Adélka a Honza</h4>

  <style>
    .intro-wrapper {
      font-size: 1.2em;
      line-height: 1.5em;
      padding-left: 8%;
      padding-right: 8%;
      scroll-margin-top: 50px;
    }
  </style>
</div>
