---
import { Sections } from "../Navigation.astro";
---

<div class="intro-wrapper" id={Sections.HOME}>
  <p>
    Vítejte na stránce naší úžasné svatební události! Jsme rádi, že spolu
    strávíme tento vyjímečný den, a přichystali jsme si pro vás několik
    informací, které vám pomohou užít si svatbu naplno.
  </p>

  <p>
    Cesta naším společným životem začne 7.9.2024 v Peckově mlýně. Slavnostní
    obřad se uskuteční ve 12 hodin. Po obřadu následuje fotografování a poté
    slavnostní oběd. V průběhu dne nás čekají hry, tanec a zábava.
  </p>

  <p>
    V prostoru před mlýnem je louka, kterou využijeme k parkování a v noci k
    přespání dobrodružnějších hostů ve vlastním autě nebo stanu. Pokud hledáte
    komfortnější ubytování, rádi vám poskytneme několik tipů na místa v okolí,
    kde si můžete zajistit přespání.
  </p>

  <p>
    Abychom mohli svatbu co nejlépe naplánovat, prosíme vás o vyplnění krátkého
    <a href="https://forms.gle/zt9A5Dqs9diqt9Cg7" target="_blank">
      dotazníku</a
    >, kde se vyjádříte ke své účasti na svatbě a několika dalším 'drobným'
    detailům.
  </p>

  <h4>
    S láskou
    <br />
     Adél a Honza
  </h4>

  <style>
    .intro-wrapper {
      font-size: 1.2em;
      line-height: 1.5em;
      padding-left: 8%;
      padding-right: 8%;
      scroll-margin-top: 50px;
      text-align: justify;
    }
  </style>
</div>
