---
import { Sections } from "../Navigation.astro";
---

<div class="intro-wrapper" id={Sections.HOME}>
  <p>
    Vítejte na stránce naší nezapomenutelné svatební události! Jsme rádi, že s
    námi strávíte tento den. Najdete zde veškeré potřebné informace týkající se
    naší svatby.
  </p>

  <p>
    Naše společná cesta životem začne 7.9.2024 v Peckově mlýně. Slavnostní obřad
    se uskuteční ve 12 hodin. Po obřadu následuje fotografování a poté
    slavnostní oběd. V průběhu dne nás čekají hry, tanec a zábava.
  </p>

  <p>
    U objektu je vyhrazené místo pro parkování. Očekáváme, že většina mladších
    hostů využije možnosti přespání ve vlastním autě nebo stanu. Pokud hledáte
    komfortnější ubytování, rádi vám poskytneme několik tipů na místa v okolí,
    kde si můžete zajistit přespání.
  </p>

  <p>
    Abychom mohli svatbu co nejlépe naplánovat, prosíme vás o vyplnění krátkého
    dotazníku, kde se vyjádříte ke své účasti na svatbě.
  </p>

  <h4>
    S láskou
    <br />
     Adél a Honza
  </h4>

  <style>
    .intro-wrapper {
      font-size: 1.2em;
      line-height: 1.5em;
      padding-left: 8%;
      padding-right: 8%;
      scroll-margin-top: 50px;
      text-align: justify;
    }
  </style>
</div>
