---
import { Sections } from "../Navigation.astro";
---

<div class="program-wrapper" id={Sections.PROGRAM}>
  <h1>Pl치n dne</h1>
  <!-- // casy jsou   orientacni, presto je uvadime velmi presne -->
  <p>游 V코echny 캜asy jsou orienta캜n칤, p콏esto je uv치d칤me velmi p콏esn캩.游</p>
  <section>
    <h2>R치no</h2>
    <p>11:00 - 11:30 - P콏칤jezd host콢</p>
    <p>12:00 - Ob콏ad</p>
    <p>12:40 - Fotografov치n칤</p>
  </section>
  <div class="connector"></div>
  <section>
    <h2>Odpoledne</h2>
    <p>13:00 - Ob캩d</p>
    <p>15:30 - K치va a dort칤k</p>
    <p>16:00 - Studen칳 raut</p>
    <p>16:30 - H치zen칤 kytice</p>
    <p>16:45 - Prvn칤 tanec novoman쬰l콢</p>
  </section>
  <div class="connector"></div>
  <section>
    <h2>Ve캜er</h2>
    <p>17:00 - Kapela</p>
    <p>18:00 - Street food</p>
    <p>19:30 - Grill</p>
    <p>22:00 - Voln치 z치bava</p>
  </section>
</div>

<style lang="less">
  .connector {
    background-color: var(--textTertiary);
    width: 3px;
    height: 50px;
  }
  .program-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    scroll-margin-top: 50px;
    padding-left: 8%;
    padding-right: 8%;
    section {
      padding: 10px;
      width: clamp(300px, 50%, 600px);
      border: 10px solid var(--light);
      h2 {
        text-align: center;
      }
    }
  }

  @media (max-width: 600px) {
    .program-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .rocket {
    width: 70px;
    height: 70px;
    color: var(--main);
  }
</style>
