---
import { Sections } from "../Navigation.astro";
---

<div class="program-wrapper" id={Sections.PROGRAM}>
  <h1>Plán dne</h1>

  <section>
    <h2>Ráno</h2>
    <p>10:00 - 11:00: Sraz hostů u na statku</p>
    <p>11:00 - 12:00: Obřad</p>
  </section>
  <div class="connector"></div>
  <section>
    <h2>Odpoledne</h2>
    <p>12:00 - 13:30: Oběd</p>
    <p>14:00 - 16:00: Fotografování a volný čas</p>
  </section>
  <div class="connector"></div>

  <section>
    <h2>Večer</h2>
    <p>16:30 - 17:30: Hry & Raut</p>
    <p>17:30 - 18:30: Slavnostní večeře</p>
    <p>18:30 - 19:00: Krátké projevy a překvapení</p>
    <p>19:00 - 22:00: Tanec a zábava</p>
  </section>
</div>

<style lang="less">
  .connector {
    background-color: var(--textTertiary);
    width: 3px;
    height: 50px;
  }
  .program-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    scroll-margin-top: 50px;
    padding-left: 8%;
    padding-right: 8%;
    section {
      padding: 10px;
      width: clamp(300px, 50%, 600px);
      border: 10px solid var(--light);
      h2 {
        text-align: center;
      }
    }
  }

  @media (max-width: 600px) {
    .program-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .rocket {
    width: 70px;
    height: 70px;
    color: var(--main);
  }
</style>
