---
import { Sections } from "../Navigation.astro";
---

<div class="program-wrapper" id={Sections.PROGRAM}>
  <h1>Plán dne</h1>
  <p>Plán dne bude v průběhu příprav doplněn.</p>
  <section>
    <h2>Ráno</h2>
  </section>
  <div class="connector"></div>
  <section>
    <h2>Odpoledne</h2>
  </section>
  <div class="connector"></div>
  <section>
    <h2>Večer</h2>
  </section>
</div>

<style lang="less">
  .connector {
    background-color: var(--textTertiary);
    width: 3px;
    height: 50px;
  }
  .program-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    scroll-margin-top: 50px;
    padding-left: 8%;
    padding-right: 8%;
    section {
      padding: 10px;
      width: clamp(300px, 50%, 600px);
      border: 10px solid var(--light);
      h2 {
        text-align: center;
      }
    }
  }

  @media (max-width: 600px) {
    .program-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .rocket {
    width: 70px;
    height: 70px;
    color: var(--main);
  }
</style>
