---
import { Sections } from "../Navigation.astro";
---

<div class="program-wrapper" id={Sections.PROGRAM}>
  <h1>Plán dne</h1>
  <p>Plán dne bude v průběhu příprav doplněn.</p>
  <section>
    <h2>Ráno</h2>
    <p>11:00 - 11:30 - Příjezd hostů</p>
    <p>12:00 - Obřad</p>
    <p>12:40 - Fotografování</p>
  </section>
  <div class="connector"></div>
  <section>
    <h2>Odpoledne</h2>
    <p>13:00 - Oběd</p>
    <p>15:30 - Káva a dortík</p>
    <p>16:00 - Studený raut</p>
    <p>16:30 - Házení kytice</p>
    <p>16:45 - První tanec novomanželů</p>
  </section>
  <div class="connector"></div>
  <section>
    <h2>Večer</h2>
    <p>17:00 - Kapela</p>
    <p>18:00 - Street food</p>
    <p>19:30 - Grill</p>
    <p>22:00 - Volná zábava</p>
  </section>
</div>

<style lang="less">
  .connector {
    background-color: var(--textTertiary);
    width: 3px;
    height: 50px;
  }
  .program-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    scroll-margin-top: 50px;
    padding-left: 8%;
    padding-right: 8%;
    section {
      padding: 10px;
      width: clamp(300px, 50%, 600px);
      border: 10px solid var(--light);
      h2 {
        text-align: center;
      }
    }
  }

  @media (max-width: 600px) {
    .program-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .rocket {
    width: 70px;
    height: 70px;
    color: var(--main);
  }
</style>
