---
import { Sections } from "../Navigation.astro";
---

<div class="intro-wrapper" id={Sections.DOTAZNIK}>
  <div>
    <p>Milí hosté,</p>
    <p>
      Jsme nadšení, že budete s námi slavit náš svatební den! Pro usnadnění
      plánování a zajistění vašeho pohodlí, bychom vás rádi požádali, abyste
      vyplnili krátký formulář týkající se občerstvení a ubytování.
    </p>
    <p>
      Vaše odpovědi nám pomohou zajistit, že budete mít během oslav vše, co
      potřebujete. Děkujeme vám předem za váš čas a úsilí. Těšíme se, že vás
      uvidíme na naší svatební oslavě!
    </p>
  </div>
  <a
    href="https://docs.google.com/forms/d/1MLXQPnXKcxtU4Trb2QSn2uk5x4i-4KG9H6EIzMW-0yY/prefill"
    target="_blank"
  >
    &gt; &gt; &gt; Vyplnit formulář &lt; &lt; &lt;
  </a>
</div>

<style>
  .intro-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 8%;
    padding-right: 8%;
    scroll-margin-top: 50px;
  }
</style>
