---
import { Sections } from "../Navigation.astro";
---

<div class="intro-wrapper" id={Sections.DOTAZNIK}>
  <h1>Dotazník</h1>
  <p>
    Abychom mohli svatbu co nejlépe naplánovat, prosíme vás o výplnění krátkého
    dotazníku, kde se vyjádříte ke své účasti na svatbě.
  </p>

  <a
    href="https://docs.google.com/forms/d/1MLXQPnXKcxtU4Trb2QSn2uk5x4i-4KG9H6EIzMW-0yY/prefill"
    target="_blank"
  >
    &gt; &gt; &gt; Vyplnit formulář &lt; &lt; &lt;
  </a>
</div>

<style>
  .intro-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 8%;
    padding-right: 8%;
    scroll-margin-top: 50px;
  }
</style>
