---
import Layout from "../layouts/Layout.astro";
import TitleImage from "../components/sections/TitleImage.astro";
import Separator from "../components/Separator.astro";
import Map from "../components/sections/Map.astro";
import Intro from "../components/sections/Intro.astro";
import Program from "../components/sections/Program.astro";
import Survey from "../components/sections/Survey.astro";
---

<Layout title="hipity Hopity budeme se brat">
  <main>
    <TitleImage />
    <Intro />
    <Separator />
    <Map />
    <Separator />
    <Program />
    <Separator />
    <Survey />
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: 30px;
      width: fit-content;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      border-radius: 50%;
    }
  </style>
</Layout>
