---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card_copy.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>WagsSSSdfg to <span class="text-gradient">Astro</span></h1>
    <img src="/fotka.jpg" alt="Astro Logo" />
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      border-radius: 50%;
    }
  </style>
</Layout>
