---
interface NavlinkProps {
  section: string;
  label: string;
}

const { section, label } = Astro.props;
---

<div class="wrapper">
  <h4 class="text">{label}</h4>
  <div class="line"></div>
</div>

<style>
  .wrapper {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;

    &:hover {
      .line {
        opacity: 1;
        left: 0;
        right: 0;
      }
      .text {
        color: var(--main);
      }
    }
  }
  .text {
    font-weight: 600;
  }

  .line {
    position: absolute;
    bottom: 14px;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: var(--main);
    opacity: 0;
    border-radius: 3px;

    transition: all 0.14s ease-in-out;
  }
</style>
