---
const { class: className, ...rest } = Astro.props;
---

<div class={className} {...rest}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    viewBox="0 0 256 256"
    xml-space="preserve"
  >
    <g
      stroke="none"
      stroke-width="0"
      stroke-dasharray="none"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-miterlimit="10"
      fill="none"
      fill-rule="nonzero"
      opacity="1"
      transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
    >
      <path
        stroke="none"
        stroke-width="1"
        stroke-dasharray="none"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        fill="currentColor"
        fill-rule="nonzero"
        opacity="1"
        transform="matrix(1 0 0 1 0 0)"
        d="M 38.031 69.909 c -0.124 0 -0.25 -0.022 -0.372 -0.072 L 9.734 58.642 c -7.931 -3.18 -11.796 -12.218 -8.617 -20.148 c 1.539 -3.841 4.483 -6.853 8.289 -8.481 c 3.806 -1.628 8.016 -1.675 11.858 -0.136 l 0.09 0.036 l 0.036 -0.089 c 1.54 -3.841 4.484 -6.853 8.289 -8.481 c 3.804 -1.629 8.016 -1.676 11.859 -0.136 c 1.484 0.596 2.863 1.415 4.099 2.434 c 0.23 0.19 0.363 0.473 0.363 0.771 s -0.133 0.582 -0.364 0.771 c -4.548 3.753 -6.129 9.953 -3.935 15.428 l 4.227 10.543 c 0.096 0.239 0.096 0.505 0 0.744 L 38.96 69.281 C 38.803 69.672 38.427 69.909 38.031 69.909 z M 15.498 30.757 c -1.8 0 -3.6 0.365 -5.305 1.095 c -3.315 1.417 -5.879 4.041 -7.219 7.387 l 0 0 c -2.769 6.907 0.598 14.779 7.504 17.549 l 26.997 10.821 l 6.448 -16.082 l -4.078 -10.171 c -2.363 -5.895 -0.914 -12.523 3.583 -16.879 c -0.822 -0.567 -1.705 -1.041 -2.634 -1.414 c -3.347 -1.342 -7.014 -1.3 -10.328 0.118 c -3.314 1.418 -5.878 4.041 -7.219 7.387 l -0.408 1.018 c -0.206 0.511 -0.786 0.762 -1.301 0.556 l -1.018 -0.408 C 18.896 31.082 17.197 30.757 15.498 30.757 z M 2.046 38.866 h 0.01 H 2.046 z"
      ></path>
      <path
        stroke="none"
        stroke-width="1"
        stroke-dasharray="none"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        fill="currentColor"
        fill-rule="nonzero"
        opacity="1"
        transform="matrix(1 0 0 1 0 0)"
        d="M 51.969 69.909 c -0.396 0 -0.771 -0.237 -0.928 -0.628 L 39.845 41.356 c -3.179 -7.931 0.686 -16.969 8.617 -20.149 c 3.842 -1.54 8.053 -1.492 11.859 0.136 c 3.805 1.627 6.748 4.639 8.289 8.481 l 0.036 0.089 l 0.089 -0.036 c 3.84 -1.54 8.052 -1.492 11.859 0.136 l 0 0 c 3.807 1.628 6.75 4.64 8.289 8.482 c 1.54 3.841 1.492 8.052 -0.136 11.858 c -1.628 3.806 -4.64 6.75 -8.481 8.29 L 52.341 69.837 C 52.219 69.886 52.093 69.909 51.969 69.909 z M 54.229 22.087 c -1.699 0 -3.399 0.325 -5.023 0.976 c -6.907 2.769 -10.273 10.641 -7.504 17.548 l 10.823 26.997 l 26.998 -10.821 c 3.346 -1.342 5.97 -3.906 7.387 -7.221 c 1.417 -3.314 1.459 -6.982 0.118 -10.328 s -3.904 -5.969 -7.22 -7.387 c -3.312 -1.417 -6.982 -1.46 -10.328 -0.118 l -1.018 0.408 c -0.246 0.099 -0.521 0.096 -0.766 -0.009 c -0.244 -0.104 -0.437 -0.302 -0.535 -0.548 l -0.407 -1.018 c -1.342 -3.346 -3.905 -5.969 -7.22 -7.386 C 57.829 22.452 56.029 22.087 54.229 22.087 z"
      ></path>
    </g>
  </svg>
</div>
